@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'brusherregular';
    src: url('brusher-regular-webfont.woff2') format('woff2'),
         url('brusher-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lunaregular';
    src: url('luna-webfont.woff2') format('woff2'),
         url('luna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	max-width:100%;
	color:black;
	font-family: 'lunaregular', Garamond;
	text-align:center;
	background-repeat:repeat;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	font-family: 'brusherregular' Garamond;
	font-size:750%;
	background-color:#FFFFFF;	
	padding:20px;
	margin:auto;
	width:50%;
	box-shadow: 10px 10px 20px rgba(128,128,128,0.75);
	z-index:5;
	position:relative;
	top:-20%;
}
h2 {
	font-size:250%;
	line-height: 300%;
	background-image: url(../Images/PostItNote.png);
	background-size:cover;
	top: 20%;
	left: 20%;
	width: 25%;
	height:30%;
	margin:auto;
	z-index:5;
	position: absolute;
}
h3 {
	background-image: url(../Images/bg1.png);
	background-size: 100%;
	width: 50%;
	font-size:80%;
	line-height: 240%;
	position: absolute;
	top: 40%;
	left: 30%;
	padding:30px;
	margin:auto;
	z-index:3;
}

.padpaper {
	z-index: 1;
	width: 50%;
}
#streamers {
	background-image:url(../Images/1.jpg);
    background-repeat: repeat;
}
#viewers {
	background-image:url(Images/2.jpg);
    background-repeat: repeat;
}